html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
}

#filter {
  position: fixed;
  top: 9px;
  right: 10px;
  width: 300px;
}

.list-group {
  position: fixed;
  top: 39px;
  right: 10px;
  width: 250px;
}
